@{
    ViewBag.Title = "The ";
}
<script src="~/Content/Project10JavaScript.js"></script>

<link href="~/AboutStyle.css" rel="stylesheet" />



<div class="parallax"></div>

<div id="body">

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;display:flex; justify-content:center;">
        <div class="container" style="display:flex; justify-content:center;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Tops", "Index", "Tops")</li>
                    <li>@Html.ActionLink("Bottoms", "Index", "Bottoms")</li>
                    <li>@Html.ActionLink("Shoes", "Index", "Shoes")</li>
                    <li>@Html.ActionLink("Accessories", "Index", "Accessories")</li>
                    <li>@Html.ActionLink("Outfits", "Index", "Outfits")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                </ul>
            </div>
        </div>
    </div>


    <h1 class="logo">
        <span class="word2">Select</span>
        <span class="word2">Items</span>
        <span class="word2">by</span>
        <span class="word2">Movie</span>

    </h1>

    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')">All Movies</button>
        <button class="btn" onclick="filterSelection('PF')"> Pulp Fiction</button>
        <button class="btn" onclick="filterSelection('KB')"> Kill Bill</button>
        <button class="btn" onclick="filterSelection('DU')"> Django Unchained</button>
        <button class="btn" onclick="filterSelection('RD')"> Reservoir Dogs</button>
    </div>



    <div class="container">
        <br />
        <h3></h3>
        <div class="filterDiv PF KB RD " id="whiteshirt"><p>White Dress Shirt</p></div>
        <div class="filterDiv PF KB RD" id="blackcoat"><p>Black Suit Coat</p></div>
        <div class="filterDiv KB" id="yellowjacket"><p>Yellow Jacket</p></div>
        <div class="filterDiv PF" id="suedejacket"><p>Suede Jacket</p></div>
        <div class="filterDiv PF" id="UCshirt"><p>UC Santa Cruz</p></div>
        <div class="filterDiv PF " id="whiteshirt"><p>White T-Shirt</p></div>
        <div class="filterDiv DU" id="bluesuit"><p>Blue Suit</p></div>
        <div class="filterDiv DU" id="blazer"><p>Burgandy Blazer</p></div>
        <div class="filterDiv KB" id="whitecoat"><p>White Trench Coat</p></div>
        <div class="filterDiv KB" id="nurse"><p>Nurse Top</p></div>
        <div class="filterDiv KB " id="yellowpants"><p>Yellow Pants</p></div>
        <div class="filterDiv PF RD" id="mensjeans"><p>Mens Jeans</p></div>
        <div class="filterDiv PF" id="blueshorts"><p>Blue Running Shorts</p></div>
        <div class="filterDiv PF RD" id="blackpants"><p>Black Pant</p>s</div>
        <div class="filterDiv KB" id="yellowshoe"><p>Yellow Aasics</p></div>
        <div class="filterDiv PF" id="whiteshoe"><p>White Sneaker</p></div>
        <div class="filterDiv PF RD KB" id="blackshoe"><p>Black Dress Shoe</p></div>
        <div class="filterDiv DU" id="boot"><p>Boot</p></div>
        <div class="filterDiv animals" id="nurseshoe"><p>Nurses Shoe</p></div>
        <div class="filterDiv PF RD" id="sunglasses"><p>Sunglasses</p></div>
        <div class="filterDiv DU PF" id="bolo"><p>Bolo Tie</p></div>
        <div class="filterDiv KB" id="eyepatch"><p>Eyepatch</p></div>
        <div class="filterDiv DU" id="cowboyhat"><p>Cowboy Hat</p></div>
        <div class="filterDiv KB" id="blacktie"><p>Black Tie</p></div>
        <div class="filterDiv KB" id="sword"><p>Samurai Sword</p></div>
        <div class="filterDiv DU KB PF RD" id="cigarette"><p>Cigarette</p></div>





    </div>

    @*<div class="container">
            <div class="filterDiv PF KB RD " id="whiteshirt">White Dress Shirt</div>
            <div class="filterDiv PF KB RD" id="blackcoat">Black Suit Coat</div>
            <div class="filterDiv KB" id="yellowjacket">Yellow Jacket</div>
            <div class="filterDiv PF" id="suedejacket">Suede Jacket</div>
            <div class="filterDiv PF" id="UCshirt">UC Santa Cruz</div>
            <div class="filterDiv PF " id="whiteshirt">White T-Shirt</div>
            <div class="filterDiv DU" id="bluesuit">Blue Suit</div>
            <div class="filterDiv DU" id="blazer">Burgandy Blazer</div>
            <div class="filterDiv KB" id="whitecoat">White Trench Coat</div>
            <div class="filterDiv KB" id="nurse">Nurse Top</div>
            <div class="filterDiv KB animals" id="yellowpants">Yellow Pants</div>
            <div class="filterDiv PF RD" id="mensjeans">Mens Jeans</div>
            <div class="filterDiv PF" id="blueshorts">Blue Running Shorts</div>
            <div class="filterDiv PF RD" id="blackpants">Black Pants</div>
            <div class="filterDiv KB" id="yellowshoe">Yellow Aasics</div>
            <div class="filterDiv PF" id="whiteshoe">White Sneaker</div>
            <div class="filterDiv PF RD KB" id="blackshoe">Black Dress Shoe</div>
            <div class="filterDiv DU" id="boot">Boot</div>
            <div class="filterDiv animals" id="nurseshoe">Nurses Shoe</div>
            <div class="filterDiv PF RD" id="sunglasses">Sunglasses</div>
            <div class="filterDiv DU PF" id="bolo">Bolo Tie</div>
            <div class="filterDiv KB" id="eyepatch">Eyepatch</div>
            <div class="filterDiv DU" id="cowboyhat">Cowboy Hat</div>
            <div class="filterDiv KB" id="blacktie">Black Tie</div>
            <div class="filterDiv KB" id="sword">Samurai Sword</div>
            <div class="filterDiv DU KB PF RD" id="cigarette">Cigarette</div>



        </div>*@

</div>

<div class="parallax"></div>




<script>
    filterSelection("all")
</script>
